a{
  text-decoration: none;
}
.navbar {
  background-color: #19355e;
}
.Rentepropertieslogotext{margin: 0;
  margin-left: 1.5rem;
  margin-bottom: 0;
  font-family: Montserrat;
  color: #FFFFFF;
  font-weight: 500;
  font-size: large;
}

.navbarlogo{
  margin-left: 1.5rem;
}
.nav-link{
  font-family: Montserrat;
  color: #FFFFFF;
}

.navigation{
  background-color: #19355e;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  border-spacing: 0;
  border: 0;
}

.navigation-link{
  font-family: poppins;
  font-size: 20;
color: #FFFFFF;
}

.body{
  width: 100%;
  height: auto;
}
.privacypolicy{
  color: #FFFFFF;
  font-weight: 500;
  font-family: poppins;
  font-size: 20;
margin-top: 1rem;
margin-left: 10rem;
}
.privacypolicytable{
  margin-right: 6rem;
  font-family: poppins;
  font-size: small;
  font-weight: 400;
}

.downlink{
  color: #FFFFFF;
}
